<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <header>
      <nav>
        <ul>
          <li><a href="/team/Bhavya">Bhavya</a>
          <li><a href="/team/Gia">Gia</a>
          <li><a href="/team/Triue">Triue</a>
          <li><a href="/team/Saroj">Saroj</a>
          <li><a href="/team/Aman">Aman</a>
        </ul>
      </nav>
    </header>
    <section id="hero">
      <h1>Welcome to Our Team</h1>
      <p>We are a group of creative individuals who are passionate about bringing innovative ideas to life.</p>
    </section>


  
    
   

    {{{body}}}

  
    <script src="/js/main.js"></script>
  </body>
</html>
