
<section class="team">
  <div class="team-member">
    <img src="team-member-1.jpg" alt="Team Member 1" class="team-member-image">
    <h3 class="team-member-name">{{person.name}}</h3>
    <p class="team-member-bio"> {{person.bio}} </p>
    <div class="social-links">
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
    </div>

    <div class="skills">
      <p class="team-member-bio">{{person.skills}}</p>
    </div>
  </div>

</section>